<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.4/bootstrap-3.3.4/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/myStyle.css"/>
<title>Catalogue Societe</title>
</head>
  <body>
<div class="col-md-6 col-sm-12 col-xs-12">
<div class="panel panel-info spacer">
<div class="panel-heading">Societe</div>
<div class="panel-body">
    <form th:action="@{/login}" method="post">
    <div class="form-group">
      <label class="control-label">Login </label>:
      <input type="text" class="form-control" name="username" autofocus="autofocus" /> <br />
    </div>
    <div class="form-group">  
      <label class="control-label">Password</label>:
      <input type="password" class="form-control" name="password" /> <br />
     </div>
     <div class="form-group"> 
      <input type="submit" value="S'authantifier" class="btn btn-primary"/>
     </div> 
    </form>
   </div>
   </div>
   </div>
   
  </body>
</html> 